
table 
{
    border: 2px solid blue;
    background-color: aquamarine;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
    width: 1300px;
}
table thead
{
    font-weight: bolder;
    font-size: 20px;

}
table thead th
{
    color: blue;
    border: none;
}
table tbody 
{
    font-size: 12px;
    border: none;
}

#updateshow{
    margin-left: 450px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: aqua;
     width: 500px;
    /* height: 700px;  */
    padding: 50px;
    padding-top: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    /* display: none; */
    margin-bottom: 50px;

    
}
#updateshow input
{
    
    border-radius: 20px;
    padding: 5px;
    float: right;
    width: 100%;
}
#updateshow upt
{
    margin-top: 20px;
}
a
{
    margin-left: 700px;
     color: blue; 
     font-size: 20px;
      text-decoration: none
}
h1
{
    font-weight: bolder;
     color: red;
      text-align: center;
       margin-top: 50px;
        font-size: 30px;
}


@media (max-width:480px)
{

    table 
{
    border: 2px solid blue;
    background-color: aquamarine;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: 50px;
    width: 450px;
    line-height: 12px;
    padding: 0;
}
table thead
{
    font-weight: bolder;
    font-size: 6px;

}
table thead th
{
    color: blue;
    border: none;
}
table thead td
{
   height: 10px;
   width: 20px;
   font-size: 6px;
   padding: 0;
}
table tbody 
{
    font-size: 6px;
    border: none;
}
    #updateshow
    {
    margin-left: 0px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: aqua;
     width: 400px;
    /* height: 700px;  */
    padding: 20px;
    padding-top: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    /* display: none; */
    margin-bottom: 50px;
    }
    

#updateshow input
{
    
    border-radius: 20px;
    padding: 5px;
    float: right;
    width: 100%;
}
#updateshow upt
{
    margin-top: 20px;
}

a
{
    margin-left: 100px;
    
}
h1
{
    margin-left: -150px;
}
body
{
    width: 480px;
}
}

